<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <system.serviceModel>
    <services>
      <service name="DataAccessService.DataProvider">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8734/DataAccessService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="DataAccessService.IDataProvider" bindingConfiguration="tcpSecurityBinding" />
        <endpoint address="http://localhost/DataAccessService/mex" binding="mexHttpBinding" contract="IMetadataExchange"  />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcpSecurityBinding" transactionFlow="true">
          <reliableSession enabled="true" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetUrl="http://localhost/DataAccessService/mex" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>