<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthentication">
                    <reliableSession enabled="true" />
                    <security mode="Message" />
                </binding>
                <binding name="NetTcpBinding_IDataProvider" transactionFlow="true" >
                    <reliableSession enabled="true" />
                    <security mode="Message" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/Authentication" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthentication" contract="AuthenticationService.IAuthentication"
                name="NetTcpBinding_IAuthentication" />
            <endpoint address="net.tcp://localhost:8734/DataAccessService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataProvider"
                contract="DataProviderService.IDataProvider" name="NetTcpBinding_IDataProvider">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>